name: WSAwithGapps Build

on:
pull_request:
branches:
-main

jobs:
build-test-branch:
name: "WSAWithGappsfromWZ"

runs-on: ubuntu-latest

- use: actions/checkout@v2

- name: setup .net core

uses: actions/setup-dotnet@v1
with:
dotnet-version: 3.1.301

- name: install dependencies
run: dotnet restore "${{ github.workspace }}/wsapackage/wsapackage.csproj"

- name: Build
run: dotnet build "${{ github.workspace }}/waspackage/wsapackage.csproj" --configuration Release --no-restore

- name: test
run: dotnet test "${{ github.workspace }}/waspackage/wsapackage.csproj" --norestore  --verbosity normal

- name: publish
run: |
dotnet publish "${{ github.workspace }}/waspackage/wsapackage.csproj" -c release -o wsapackage

- name: Upload a Build Artifact
uses: actions/upload-artifact@v2.2.0
with:
name: WSAwithGapps_fromWZ_2205.40000.14.0_nightly
path: wsapackage/**

if-no-files-found: error

retention-days: 90
