

name: WSA Pasket mit Google PlayStore

on:
push:
branches: [main]

jobs:

archive-build-artifacts:
runs-on: ubuntu-latest

steps:


run: mkdir wsapackage

- name: WSAwithGapps_fromWZ_2205.40000.14.0_nightly
run:
 cd downloads
echo 'WSAwithGapps_fromWZ_2205.40000.14.0_nightly' > WSAwithGapps_fromWZ_2205.40000.14.0_nightly.rar
cd ..


uses: actions/upload-artifact@v3
with:
name: WSAwithGapps_fromWZ_2205.40000.14.0_nightly
path: wsapackage
