name: WSAWithGapps

on:
pull_request:
branches:
- main

jobs:


runs-on: ubuntu-latest

steps:

- uses: actions/checkout@v2



 - name: Upload a Build Artifact
uses: actions/upload-artifact@v2.2.0
with:

name: WSAwithGapps_fromWZ_2205.40000.14.0_nightly
path: wsapackage/**

if-no-files-found: error

retention-days: 90 
